
* {
  box-sizing: border-box;
}

body {
  font-family: Arial;
  padding: 10px;
  background: rgba(0,0,222,0.06);
}

/* Header/Blog Title */ 

.header {
  padding: 30px;
  text-align: center;
  background: white;
}


.header h1 {
  display: inline;
  position: relative;
  font-size: 70px;
  font-family: Helvetica, Sans-Serif;
  letter-spacing: -10px;
  color: rgba(0,0,255,0.5);
   
}  

/* Style the top navigation bar */
.topnav {
  overflow: hidden;
 padding-left: 20px;
  background-color: rgba(0,0,222,0.2);
}

/* Style the topnav links */
.topnav a {
  float: left;
  display: block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

/* Change color on hover */
.topnav a:hover {
  background-color: #ddd;
  color: black;
}

/* Create two unequal columns that floats next to each other */
/* Left column */
.leftcolumn {   
  float: left;
  width: 75%;
    
}


h2 {
   color: powderblue; 
   font-family: 'Roboto', sans-serif;
   text-transform: uppercase;
   font-size: 30px; 
   font-weight: bold; 
   letter-spacing: -1px; 
   line-height: 1; 
   text-align: center;
    
}

p { 
 color: black; 
 font-family: 'Abril Fatface', serif;
 font-size: 14px; 
 line-height: 24px; 
 margin: 0 0 24px; 
 text-align: center; 
 text-justify: inter-word; }





/* Right column */
.rightcolumn {
  float: left;
  width: 25%;
 padding-left: 20px;
}


/* Blockquote*/

@import url(https://fonts.googleapis.com/css?family=Open+Sans:400italic);
blockquote{
  font-size: 1.4em;
  margin:20px auto;
  font-family:Open Sans;
  color: #555555;
  padding:1em 10px 1em 74px;
  border-left:8px solid orchid;
  line-height:1.6;
  position: relative;
  background:;
}



blockquote::before{
  font-family:Arial;
  content: "\201C";
  color:orchid;
  font-size:4em;
  position: absolute;
  left: 10px;
  top:-10px;
}

blockquote::after{
  content: '';
}




/* Fake image */
.fakeimg {
  background-color: #aaa;
  width: 100%;
  padding: 20px;
  align-content: center
}





/* Add a card effect for articles */
.card {
  background-color: white;
  padding: 20px;
  margin-top: 20px;
     border-top:8px solid powderblue;
}



/* Clear floats after the columns */
.row:after {
  content: "";
  display: table;
  clear: both;
}

/* Footer */
.footer {
  padding: 20px;
  text-align: center;
  background: #ddd;
  margin-top: 20px;
}

/* Responsive layout - when the screen is less than 800px wide, make the two columns stack on top of each other instead of next to each other */
@media screen and (max-width: 800px) {
  .leftcolumn, .rightcolumn {   
    width: 100%;
    padding: 0;
  }
}



/* Responsive layout - when the screen is less than 400px wide, make the navigation links stack on top of each other instead of next to each other */
@media screen and (max-width: 400px) {
  .topnav a {
    float: none;
    width: 100%;
  }
}
